*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background: #fff;
    border: none;
    box-shadow: 0 5px 5px 0 rgba(0, 0,0,0.2);
    padding: 0 80px;
    align-items: center;
    flex-wrap: wrap;
}
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar li{
    display: inline-block;
    padding: 20px;
}
.navbar li a{
    text-decoration: none;
    font-size: 20px;;
    padding: 8px;
    border-radius: 5px;
    color: #000;
}

.navbar li a:not(.active){
    background: transparent;
}
.navbar li a:hover{
    background: black;
    color: rgb(255, 255, 255);
    transition: 0.3s ease all;
    cursor: pointer;
}
.logo a{
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    text-shadow: 0 0 6px turquoise;
    cursor: pointer;
    font-weight: 600;
}
.bodyholder{
    
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    display: flex;
    flex-direction: column;

}
.home-image-container{
    display: flex;
    justify-content: center;
}
.imagecontainer{
    place-items: center;
    margin-top: 40px;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/homebackground.jpg);
    height: 50vh;
    width: 120vh;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;

}
.content{
    display: block;
    margin-left: 20px;
}
.searchfood{
    padding: 10px 15px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 10px;
}
.searchfood input{
    border: none;
    outline: none;
    size: auto;
    font-size: 1.2rem;
    width: 60%;
}
.searchfood button{
    background: turquoise;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.h3text{
    padding: 20px 0;
    font-weight: 700;
}
.hotpicks{
    justify-content: center;
    display: grid;
    padding: 15px;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    flex-grow: 1;
}
.imagehotpicks{
    max-width: 200px;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    border: #000 1px solid;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px 0;
}
.imagehotpicks img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.OrderBtn{
    border: none;
    background-color: turquoise;
    font-size: 15px;
    border-radius: 3px;
    padding: 5px;
    margin: 7px;
    cursor: pointer;
    transition: background-color  0.2s ease-in-out;

}
.OrderBtn:hover{
    background-color: hsla(174, 73%, 67%, 0.84);
}
.whatweare{
    display: flex;
    margin: 30px 10%;
    justify-content: center;
    background-color: hsla(174, 72%, 56%, 0.628);

}
.abouttext{
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.imageside img{
    width: 300px;
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
}

.imageside:hover{
    transform: scale(1.05);
}
.textside{
    align-items: center;
    padding: 20px;
}
.homedelivery{
    padding: 30px 10px;
    background-color: #c2fcf3;
    border-radius: 10px;
    margin: 10px 0;
    transition: transform 0.5s ease-in-out;
}
.homedelivery:hover{
    transform: scale(1.05);
    background-color: #a91d8d86;
    box-shadow: 0 5px 5px 0 rgba(0, 0,0,0.2);
}
.officedelivery{
    padding: 30px 10px;
    background-color: #c2fcf3;
    border-radius: 10px;
    margin: 10px 0;
    transition: transform 0.5s ease-in-out;
}
.officedelivery:hover{
    transform: scale(1.05);
    background-color: #a91d8d86;
    box-shadow: 0 5px 5px 0 rgba(0, 0,0,0.2);
}
.collaborators{
    height: 30vh;
    background-color: #c2fcf3;
    width: 100%;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.companies img{
    width: 120px;
    height: auto;
}
.companies{
    display: flex;
    margin: 0 20px;
    margin-top: 5px;
    justify-content: space-between;
    overflow: hidden;
    animation: scroll-left 15s  linear infinite;
    align-items: center;

}
@keyframes scroll-left{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.reviews{
    margin-top: 10px;
    background-color: #a91d8d58;
    height: 37vh;
    width: 100%;
    border-radius: 10px;
    display: flex;
    position: relative;
    justify-content: space-around;
    overflow: hidden;
}
.reviewbox{
    max-width: 200px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c2fcf3;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease-in-out;
}
.reviewtxt{
    text-align: left;
}
.reviewbox:hover{
    transform: scale(1.1);
}
.reviewbox:hover img{
    transform: rotate(20deg) scale(1.05);
}

.reviewbox img{
    width: 50px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
    margin: 5px;
    transition: transform 0.5s ease-in-out;
}
.footer{
    height: auto;
    background-color: #c2fcf3;
    width: 100%;
    margin-top: 15px;
    display: flex;
}
.message{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    flex-direction: column;
}
#emailfield{
    padding: 5px;
    border: none;
    text-decoration: none;
    margin-top: 7px;
    margin-bottom: 10px;
    outline: none;
}
.message button{
    width: 100px;
    padding: 10px;
    background-color: #a91d8d9e;
    border: none;
    color: #fff;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
    transition: 1s ease;
}
.message:hover button{
    background-color: #a91d8dfe;
}
.message-container{
    width: 100%;
    max-width: 300px;
}
.inputmessage{
    width: 100%;
    padding: 10px;
    overflow: hidden;
    transition: height 0.2s ease;
    margin-top: 10px;
    resize: vertical;
    height: 100px;
    border: none;
    border-radius: 5px;
}
.footerlinks{
    text-align: center;
}
.footerlinks ul{
    list-style: none;
}